---
import Icon from './Icon.astro';

interface Props {
	date: Date;
}

const { date } = Astro.props;
---

<span class="formatted-date">
	<Icon name="calendar" size="0.95em" />
	<time datetime={date.toISOString()}>
		{
			date.toLocaleDateString('en-us', {
				year: 'numeric',
				month: 'short',
				day: 'numeric',
			})
		}
	</time>
</span>

<style>
	.formatted-date {
		display: inline-flex;
		align-items: center;
		gap: 0.3rem;
		color: rgb(var(--gray));
	}

	.formatted-date :global(.icon) {
		opacity: 0.7;
	}
</style>
